/* start imports, vars and resets */
$main-bg: #0b0f32;
$grad-a: #43e97b;
$grad-b: #38f9d7;
$lav-gray: #a19eac;
@mixin border-bottom-radius($a) {
  border-radius: 0 0 $a $a;
}
@mixin circle($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
}
@import url('https://fonts.cdnfonts.com/css/sf-ui-display');
*{margin:0;padding:0;border:0;outline:0;
  list-style:none;text-decoration:none;
  box-sizing:border-box;font-family:'SF UI Display';}
body{overflow-x:hidden;background:$main-bg;
  color:white;max-width:1500px;margin:0 150px;}
/**
  * end imports, vars and resets
  * start select
***/
.S_select {
  display: flex;
  justify-content: space-between;
  margin-bottom: 84px;
}
.S_select-option {
  font-size: 20px;
  padding: 15px 30px;
  background: $main-bg;
  font-weight: 600;
  @include border-bottom-radius(15px);
  // <thanks href="https://gist.github.com/stereokai/36dc0095b9d24ce93b045e2ddc60d7a0">
  border: solid 1px transparent;
  background: {
    image: linear-gradient($main-bg, $main-bg),
    radial-gradient(circle at top left, $grad-a, $grad-b);
    origin: border-box;
    clip: padding-box, border-box;
  }
  // </thanks>
}
.S_selected {
  background: linear-gradient(45deg, $grad-a, $grad-b);
  color: black;
}
.S_cards {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  font-weight: 500;
}
.S_card {
  // width: 310px;
  // height: 471px;
  padding: 24px 20px 20px;
  border-radius: 6px;
  // <thanks href="https://gist.github.com/stereokai/36dc0095b9d24ce93b045e2ddc60d7a0">
  border: 1px solid transparent;
  background: {
    image: linear-gradient($main-bg, $main-bg), radial-gradient(circle at top left, $grad-a 0%, #0000 69%, #0000 100%);
    origin: border-box;
    clip: padding-box, border-box;
  }
  // </thanks>
}
.S_img {
  width: 270px;
  height: 289px;
}
.S_wrap-one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 12px 0;
}
.S_wrap-one-wrap {
  display: flex;
  align-items: center;
  span {
    color: $lav-gray;
    font-size: 14px;
  }
}
.S_img-wrap {
  display: flex;
  align-items: center;
  margin-right: 4px;
}
.S_pfp {
  @include circle(24px);
  &:not(:first-child) {
    margin-left: -0.75 * 24px;
  }
}
.S_dot {
  @include circle(8px);
  background: $lav-gray;
  &:not(:first-child){
    margin-left: 5px;
  }
}
.S_card-name {
  font-size: 20px;
  margin-bottom: 9px;
  font-weight: 600;
}
.S_hi-bid {
  color: $lav-gray;
  font-size: 16px;
  margin-bottom: 7px;
}
.S_wrap-two {
  display: flex;
  justify-content: space-between;
}
.S_bid-size {
  color: #479889;
}
.S_likes-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fa-solid.fa-heart {
  color: $lav-gray;
}
.S_likes {
  font-size: 12px;
  margin-left: 4px;
  color: $lav-gray;
}
/**
  * end select
  * start ???
***/